:root {
    --cell-size: 800px;
}

.board {
    width: var(--cell-size);
    height: var(--cell-size);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    background-color: #f2f2f2;
}
