:root {
    --cell-size: 800px;
    --piece-size: 95%;
    --captured-cell-width: 1600px;
    --captured-cell-height: 200px;
}

.board {
    width: var(--cell-size);
    height: var(--cell-size);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    background-color: #f2f2f2;
}

.capturedBoard {
    width: var(--captured-cell-width);
    height: var(--captured-cell-height);
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background-color: #ffffff;
}

.cell {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.piece {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
}

.cell img {
    width: var(--piece-size);
    height: var(--piece-size);
    display: block;
}

.alphabets {
position: absolute;
left: 40px;
top: 800px;
font-size: 50px;
letter-spacing: 67px;
}
.numbers {
position: absolute;
top: 30px;
left: 820px;
writing-mode: vertical-rl; 
text-orientation: upright;
font-size: 60px;
letter-spacing: 30px;
}

.down {
    position: relative;
    top: 50px;
}